body{
    font-family:"arial", sans-serif;
    letter-spacing: 2px;
    margin:auto;
    width:50%;
    padding-left: 20px;
}

#titleblock{
    padding-top: 60px;
    padding-left: 50px;
    font-size: 30;
    font-weight: bold;
    letter-spacing: 10px;
    padding-bottom: 10px;
    background-color: white;
}

#titleblock a{
    color:black;
}

#titleblock a:hover{
    color:#0047AB;
}

.one{
    width: 0px;
    padding-top:105px;
    padding-left:0px;
    float:left;
}

.two{
    width: 0px;
    padding-top:97px;
    padding-left:0px;
    float:left;
}
.threeee{
    width: 0px;
    padding-top:115px;
    padding-left:0px;
    float:left;
}

.four{
    width: 0px;
    padding-top:100px;
    padding-left:0px;
    float:left;
}

.five{
    width: 0px;
    padding-top:170px;
    padding-left:0px;
    float:left;
}

.six{
    width: 0px;
    padding-top:145px;
    padding-left:0px;
    float:left;
}

.seven{
    width: 0px;
    padding-top:157px;
    padding-left:0px;
    float:left;
}

.eight{
    width: 0px;
    padding-top:135px;
    padding-left:0px;
    float:left;
}

.nine{
    width: 0px;
    padding-top:145px;
    padding-left:0px;
    float:left;
}

.ten{
    width: 0px;
    padding-top:208px;
    padding-left:0px;
    float:left;
}

#name{
    width:0px;
    transform: rotate(270deg);
    float:left;
    letter-spacing: 3;
}

.content{
    font-size: 14px;
    padding-top: 30px;
    padding-left: 50px;
}

#caption{
    font-size: 8px;
}
 
.three{
    width:0px;
    float:right;
    font-size:18px;
    letter-spacing:3;
    padding-right:120px;
    padding-top:11px;
}

.three a{
    color:black;
}

#describe{
    width: 550px;
}

#describe a{
    color:black;
}

#describe a:hover{
    color:#0047AB;
}


#details a{
    color:black;
}

#details a:hover{
    color:#0047AB;
}

.slideshow{
    max-width:550px;
    position:relative;
    margin:auto;
}

.slides{
    display:none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 1px 1px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
